$color: skyblue;
body {
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 1px;
    transform: translate(0, 0);
    background-image: url('../About/download.jpg')
}