<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
</head>

<body>
    <script>
        window.__INITIAL_STATE__ = JSON.parse('<%- initData -%>')
    </script>
    <div id="reactMount"><%- AppComponent -%></div>
    <script src="/js/app.js"></script>
</body>

</html>